@import "tailwindcss";

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased dark:bg-[#1E1E1E] dark:text-white;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .animate-in {
    animation-fill-mode: backwards;
  }

  .fade-in {
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }

  .slide-in-from-top-4 {
    animation-name: slideInFromTop;
    animation-duration: 0.5s;
  }

  .slide-in-from-bottom-4 {
    animation-name: slideInFromBottom;
    animation-duration: 0.5s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
