# PostgreSQL database connection
SONORA_DB_HOST=localhost
SONORA_DB_PORT=12395
SONORA_DB_NAME=sonora_test
SONORA_DB_USERNAME=sonora_user
SONORA_DB_PASSWORD=123456789

# Logging (debug | info | warn | error)
SONORA_LOG_LEVEL=info
