# PostgreSQL database connection
SONORA_DB_HOST=postgres
SONORA_DB_PORT=5432
SONORA_DB_NAME=sonora_test
SONORA_DB_USERNAME=onlyquant
SONORA_DB_PASSWORD=

# Logging (debug | info | warn | error)
SONORA_LOG_LEVEL=info
